/* inicio de clases en git*/
div #foto{
	background-image: url(../img/portfolio/1.jpg);
	height: 300px;
	width: 33.33333333%;
	padding: 0 !important;
	margin:0 !important;
}

div#foto:hover div.leter{
	visibility: visible;
}
.leter{
	height: 300px;
	width: 100%;
	background-color: #FC4108;
	visibility: hidden;
	opacity: 0.4;
	text-align: center;
	color: white;
	padding-top: 110px;
}
div #foto-1{
	background-image: url(../img/portfolio/2.jpg);
	height: 300px;
	width: 33.33333333%;
	padding: 0 !important;
	margin:0 !important;
}
div#foto-1:hover div.leter{
	visibility: visible;
}
div #foto-2{
	background-image: url(../img/portfolio/3.jpg);
	height: 300px;
	width: 33.33333333%;
	padding: 0 !important;
	margin:0 !important;
}
div#foto-2:hover div.leter{
	visibility: visible;
}
div #foto-3{
	background-image: url(../img/portfolio/4.jpg);
	height: 300px;
	width: 33.33333333%;
	padding: 0 !important;
	margin:0 !important;
}
div#foto-3:hover div.leter{
	visibility: visible;
}
div #foto-4{
	background-image: url(../img/portfolio/5.jpg);
	height: 300px;
	width: 33.33333333%;
	padding: 0 !important;
	margin:0 !important;
}
div#foto-4:hover div.leter{
	visibility: visible;
}
div #foto-5{
	background-image: url(../img/portfolio/6.jpg);
	height: 300px;
	width: 33.33333333%;
	padding: 0 !important;
	margin:0 !important;
}
div#foto-5:hover div.leter{
	visibility: visible;
}
#negro{
	background-color: black;
	color:white;
	text-align: center;
	height: 130px;
	margin-top: -10px;
	padding-top: 30px;
}
.cuadro-git{
	background-color: white;
	border-radius: 20px;
	height: 30px;
	width: 150px;
	text-align: center;
	margin:0 auto;
	color:black;
	margin-top: 15px;
}
/* clases de github termino */