/* Inserta tu codigo CSS aqui */

/*.background{
	background-image: url("img/header.jpg");
	height: 600px;
}*/

.nav.navbar{
	background-color: #db6a1d;
	border-bottom: 1px solid white;
	color:white;
}

.background{ 
	background-image: url("../../images/header.jpg");
	background-size:cover;
}